@font-face {
  font-family: fontello;
  src:
    url('./font/fontello.woff2?90734603') format('woff2'),
    url('./font/fontello.woff?90734603') format('woff'),
    url('./font/fontello.ttf?90734603') format('truetype');
  font-weight: normal;
  font-style: normal;
}
