@font-face {
  font-family: fontello;
  src:
    url('./font/fontello.woff2?1766327118') format('woff2'),
    url('./font/fontello.woff?1766327118') format('woff'),
    url('./font/fontello.ttf?1766327118') format('truetype'),
    url('./font/fontello.svg?1766327118#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
